# Ignore node modules
node_modules/

# Environment files
.env

# Build output
dist/
build/

# Logs
*.log

# OS or editor stuff
.DS_Store
*.swp

# React
client/node_modules/
client/build/
client/.env

# Backend
server/node_modules/
server/.env
